<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon~iPad</string>
				<string>Icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.creativecommons.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Export Settings</key>
	<dict>
		<key>Add Exports To Project</key>
		<string>${SRCROOT}/Example/XibExporterExample/XibExporterExample.xcodeproj/project.pbxproj</string>
		<key>Add Exports to Project</key>
		<false/>
		<key>Enabled Exports</key>
		<dict>
			<key>UIKit</key>
			<true/>
			<key>ofxGeneric</key>
			<true/>
		</dict>
		<key>Folder for Exports</key>
		<string>${SRCROOT}/Example/XibExporterExample/src/GeneratedViews/</string>
		<key>Force Process Unchanged Xibs</key>
		<false/>
		<key>Process Only Xibs</key>
		<array/>
		<key>Process Xibs in Folder</key>
		<string>${SRCROOT}/Example/XibExporterExample/Assets/Xibs/</string>
		<key>Skip Xibs</key>
		<array>
			<string>MainWindow</string>
			<string>OnlyRunInSimulatorNoticeView</string>
		</array>
		<key>XcodeProjectFolder</key>
		<string>${SRCROOT}/Example/XibExporterExample/</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Register Exporter Classes</key>
	<array>
		<string>UIKitViewExporter</string>
		<string>ofxGenericViewExporter</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
